* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.pinterest {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.pinterest a {
    border: 1px solid #ccc;
}