<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagenest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="website icon" href="{{ url_for('static', filename='imgnest.jpg') }}">
</head>
<body>
    <header>
        <div class="header">
            <div class="container">
                <h1><a href="/" class="logo">Imagenest</a></h1>
                <div class="description">
                    <br>
                    A image-sharing platform
                </div>
            </div>
        </div>
    </header>
    <main>
        {% if images %}
            <div class="pinterest">
                {% for image in images %}
                    <a href="{{ url_for('send_image', image_id=all_images[images.index(image)].id) }}"><img src="/uploads/see/url/{{ image }}" alt="nothing" width="400" height="600" style="object-fit: cover;"></a>
                {% endfor %}
            </div>
        {% endif %}
    </main>
</body>
</html>