<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagenest | See The Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='see.css') }}">
</head>
<body>
    <div class="image-container">
        <div class="container">
            <div class="image">
                <img src="{{ url_for('image_url', image=image.image) }}" width="500" style="object-fit: contain;" alt="image">
            </div>
            <div class="text">
                <h1>{{ image.title }}</h1>
            </div>
        </div>
    </div>
</body>
</html>