<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagenest | Upload Images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
</head>
<body>
    <div class="container">
        <form action="/" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.image }}
            <input type="submit" value="Upload" class="submit">
        </form>
    </div>
</body>
</html>