<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Your Image</title>
    <style>
        * {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <form action="/upload" enctype="multipart/form-data" method="post">
        {{ form.hidden_tag() }}
        {{ form.image.label }}: {{ form.image }}<br>
        {{ form.title.label }}: {{ form.title }}<br>
        {{ form.submit() }}
    </form>
</body>
</html>